<div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="h1 mb-4">Каталог фильмов</h1>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Поиск фильмов</mat-label>
    <input matInput type="text" [formControl]="searchControl">
  </mat-form-field>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 film-list">
  @let films = filteredMovies();
  @if (popularMovies()?.length) {
    @for (film of films; track $index) {
      <app-film-item
        [matMenuTriggerFor]="filmMenu"
        class="col"
        [film]="film"
        #menuTrigger="matMenuTrigger"
        (click)="onOpenMenuClick(film)"/>
    } @empty {
      <div class="d-flex w-100 align-items-center justify-content-center fs-4">Такого фильма нет</div>
    }
  } @else {
    <div class="w-100 h-100 d-flex justify-content-center align-items-center mt-0">
      <mat-spinner />
    </div>
  }
</div>

<mat-menu #filmMenu="matMenu" yPosition="below" xPosition="after" class="film-menu">
  <button mat-icon-button class="film-menu__close" (click)="onCloseMenuClick()">
    <mat-icon>close</mat-icon>
  </button>
  @let film = activeFilm();
  <div class="row mx-0 p-3 position-relative">
    <div class="col-4">
      <div class="film-menu__img"></div>
    </div>
    <div class="col-8">
      <h3 class="h3">{{ film?.title }}</h3>
      <p class="mb-2">{{ film?.year }}</p>
      <div class="d-flex gap-2 flex-wrap">
        @for (genre of film?.genres; track $index) {
          <div class="film-menu__genre">{{ genre }}</div>
        }
      </div>
      <p class="film-menu__desc mt-4">{{ film?.description }}</p>
      <span class="mt-3 mb-0 text-end film-menu__rating">{{ film?.rating }}</span>
    </div>
  </div>
</mat-menu>
